<div class="d-flex flex-row bd-highlight mb-3">
  <h1 class="bd-highlight">Novo sintoma</h1>
  <%= link_to 'Voltar', symptoms_path, class: "m-3 bd-highlight" %>
</div>

<%= render 'form', symptom: @symptom %>