<div class="d-flex flex-row bd-highlight mb-3">
  <h1 class="bd-highlight">Novo remédio</h1>
  <%= link_to 'Voltar', medicines_path, class: "m-3 bd-highlight" %>
</div>

<%= render 'form', medicine: @medicine %>