<h1>Farmacinha</h1>

<% if Medicine.last == nil %>
  <p>Não foi possível atualizar os remédios</p>
<% else %>  
  <p>Lista de remédios que tenho em casa | Atualizado em: <%= Medicine.last.updated_at %> </p>
<% end %>
<ul>
  <li>
    <%= link_to "Remédios", medicines_path %>
  </li>
</ul>