@import "bootstrap/scss/bootstrap.scss";

.red {
  color: #f00;
}

.btn-green {
  background-color: #4ce59c;
  color: #fff;
}

.logo {
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 20px;
}

.centro {
  margin: auto;
  margin-top: 20px;
  width: 80%;
  border: 3px solid #4ce59c;
  padding: 10px;
  text-align: center;
}