<div class="d-flex flex-row bd-highlight mb-3">
  <h1 class="bd-highlight">Nova Categoria</h1>
  <%= link_to 'Voltar', categories_path, class: "m-3 bd-highlight" %>
</div>

<%= render 'form', category: @category %>